#content {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#content h1 {
	padding-bottom: 20px;
}
h3#directions {
	width:80%;
	float:right;
}
#header {
	padding-left: 20px
}

#footer {
	background-color:black;
	height:25px;
	text-align: :right;
	color:dodgerblue;
	text-align: center;
}

#original-paragraph {
	float: right;
	height: 100%;
	width: 80%;
	height: 100%;
}

#original-paragraph span {
	
}

button#refresh-paragraph {
	display:inline-block;
	float:left;
	height: 52px;
}

ul#replacement-words {
}

.clearfix {
  overflow: auto;
}

#synonym-section {
	width:80%;
	float:right;
}
#synonym-directions {
	display:none;
}

.linky {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}


.submitter {
	margin-top: 10px
}